*{
    margin: 0;
}
.banner{
    border: 3PX solid rgb(205, 11, 205);
    width: 100%;

    
}
.navbar{
    background-color: rgb(226, 8, 84);
    padding: 20px
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    width: 7.32%;
    height: 100px;
}
.navbar h1{
    margin-right: 350px;
    font-size: 3rem;
    color: black;
}
.nav a{
        margin-right: 50px;
        color: white;
        cursor: pointer;
        padding-left: 20px;
        font-size: 1.5rem;
        text-decoration:none;
        font-weight: 700;

}
.nav a:hover{
    margin-right: 50px;
    color: black;
    cursor: pointer;
    padding-left: 20px;
    font-size: 1.5rem;
    text-decoration:none;
    font-weight: 700;

}
footer{
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(226, 8, 84);
    opacity: 70%;
    color: white;
    font-size: 20px;
    height: 75px;
}
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bg-container{
    width: 100%;
    display: flex;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    
}
.bg-container img{
    opacity: 70%;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.para{
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
}
.para h1{
    font-size: 80px;
}
.para p{
    font-size: 30px;
    font-weight: 100px;
}

@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-75%);
    }
    100%{
        transform: translateX(0%);
    }
}

.des{
    text-align: left;
    display: flex;
    
}
@keyframes slide1{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(25%);
    }
    50%{
        transform: translateX(0%);
    }
    
}
.des-container h1{
    margin-left: 45px;
    font-size: 50px;
    animation-name: slide1;
    animation-duration: 10s;
    
}
.des img{
    width: 500px;
    height: 500px;
    margin-bottom: 80px;
    margin-right: 10px;
    align-items: left;
}
.des p{
    font-size: 25px;
    text-align: left;
    margin-top: 40px;
    padding: 20px;
    color: rgb(226, 8, 84);
}

.image-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    align-items: left;
    margin-left: 20px;
    margin-right: 50px;
    justify-content: space-between;
    
}
.image-container .image{
    height: 250px;
    width: 350px;
    border: 10px solid #6c6969;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
}

.image-container .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding:1.5rem;
    font-size: 1.6rem;
    color: pinkblack;
    background: rgb(233, 42, 109);
    border-radius: .8rem;
    margin: .7rem 0;
}
.contact form .input-box input{
    width: 49%;
}
.contact form textarea{
    resize: none;
}
.contact form.btn{
    margin-top: 2rem;
    cursor: pointer;
}

